/* css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

/* basic layout */

.tile {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.letterTile,
.numberTile {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: end;
    font-size: 1.25rem;
    font-weight: 600;
}

.numberTile {
    font-size: 1.4rem;
    align-items: end;
    justify-content: center;
}

.letterTile {
    margin-right: 8px;
}

.numRow {
    display: flex;
    margin-left: 8px;
}

.row {
    display: flex;
}

.ship {
    background-color: rgb(175, 175, 175);
}

.miss {
    background-image: url(./svgs/miss.svg);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
}

.hit {
    background-image: url(./svgs/hit.svg);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
}

.hitLogMsg {
    color: red;
}

#msgHeader {
    height: 40px;
}

/* start screen ui layout */

body #startScreen {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

h1 {
    text-align: center;
}

input {
    grid-column: 1/3;
}

.controls {
    align-self: center;
}

.name {
    grid-column: 1/3;
}

#player1,
#player2 {
    display: grid;
    grid-template-columns: auto 1fr;
}

#log {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#player1Log,
#player2Log {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}
